#Kalshi API key and private key required to access financial data.
#NEVER commit this file to version control, it should be listed in gitignore.
KALSHI_API_KEY=kals_api_8F3a9cD2xYQmP1vZ7nT4uR6bL0sH5jK9dE2wXcV
KALSHI_PRIVATE_KEY_PATH=./kalshi_private_key.pem